<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="com.example.e3.rpc.commands.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="RCP Perspective"
            class="com.example.e3.rpc.commands.Perspective"
            id="com.example.e3.rpc.commands.perspective">
      </perspective>
   </extension>
   <extension
         id="com.example.e3.rpc.commands.hello"
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="com.example.e3.rpc.commands.ExitHandler"
            id="com.example.e3.rpc.commands.ExitHandler"
            name="Exit">
      </command>
      <command
            defaultHandler="com.example.e3.rpc.commands.HelloName"
            id="com.example.e3.rpc.commands.hello"
            name="Hello">
         <commandParameter
               id="com.example.e3.rpc.commands.hello.name"
               name="name"
               optional="true">
         </commandParameter>
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               id="exitMenu"
               label="My Exit">
            <command
                  commandId="com.example.e3.rpc.commands.ExitHandler"
                  label="Truely Exit"
                  style="push"
                  tooltip="Exits the app">
            </command>
         </menu>
         <menu
               id="greetingsMenu"
               label="Greetings">
            <command
                  commandId="com.example.e3.rpc.commands.hello"
                  label="Hello Matej"
                  style="push"
                  tooltip="Say Hello">
               <parameter
                     name="com.example.e3.rpc.commands.hello.name"
                     value="Matej">
               </parameter>
            </command>
            <command
                  commandId="com.example.e3.rpc.commands.hello"
                  label="Hello Man"
                  style="push"
                  tooltip="Say Hello">
               <parameter
                     name="com.example.e3.rpc.commands.hello.name"
                     value="Man">
               </parameter>
            </command>
         </menu>
      </menuContribution>
   </extension>

</plugin>
